.hipertextos{
    list-style: none;
    font-size: 25px;
}
.hipertexto1{
    position: absolute;
    left: 13em;
    

}
.hipertexto2{
    position: absolute;
    left: 25em;
}
.hipertexto3{
    position: absolute;
    left: 35em;
}
.tex1{
    font-size: 20px;
    position: absolute;
    left: 3em;
    right: 3em;
}
.foto{
    position: absolute;
    left: 6em;
    top: 13em;
}
.expli2{
    position: absolute;
    top: 3em;
    right: 3em;
    left: 3em;
    font-size: 20px;
}
.img2{
    position: absolute;
    top: 12em;
    left: 7em;

}
.exp3{
    font-size: 20px;
    position: absolute;
    top: 3em;
    right: 3em;
    left: 3em;
}
.img3{
    position: absolute;
    top: 12em;
    left: 8em;
}
.text4{
  font-size: 20px;
  position: absolute; 
  top: 3em;
  left: 3em;
  right: 3em;  
}
.img4{
    position: absolute;
    top: 15em;
    left: 6
    
    em;
    
}


0.

.0
0.
.00.
10

[456
3
08